*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad

[Oo]bj
!/[Bb]in/
/[Bb]in/*
!/[Bb]in/[Rr]elease/
/[Bb]in/[Rr]elease/*
!/[Bb]in/[Rr]elease/AutoFire.exe

