<?xml version="1.0" encoding="utf-8"?>
<AutoFire>
  <macro>
    <key_interval>
      <name>CP grande</name>
      <key>11</key>
      <interval>140</interval>
    </key_interval>
    <key_interval>
      <name>CP pequeno</name>
      <key>12</key>
      <interval>130</interval>
    </key_interval>
    <key_interval>
      <name>Consumable 3</name>
      <key>0</key>
      <interval>340</interval>
    </key_interval>
    <activation-key>
      <label>'</label>
      <winkeys>Oemtilde</winkeys>
    </activation-key>
    <loop>True</loop>
  </macro>
  <macro>
    <key_interval>
      <name>Auto Skill 3</name>
      <key>0</key>
      <interval>340</interval>
    </key_interval>
    <key_interval>
      <name>Mana</name>
      <key>10</key>
      <interval>7400</interval>
    </key_interval>
    <key_interval>
      <name>Dash</name>
      <key>8</key>
      <interval>8400</interval>
    </key_interval>
    <key_interval>
      <name>Auto Skill 4</name>
      <key>0</key>
      <interval>340</interval>
    </key_interval>
    <activation-key>
      <label>Insert</label>
      <winkeys>Ins</winkeys>
    </activation-key>
    <loop>True</loop>
  </macro>
  <macro>
    <key_interval>
      <name>Special 4</name>
      <key>0</key>
      <interval>340</interval>
    </key_interval>
    <key_interval>
      <name>Special 3</name>
      <key>0</key>
      <interval>340</interval>
    </key_interval>
    <key_interval>
      <name>Special 2</name>
      <key>0</key>
      <interval>340</interval>
    </key_interval>
    <key_interval>
      <name>Special 1</name>
      <key>9</key>
      <interval>340</interval>
    </key_interval>
    <activation-key>
      <label>Home</label>
      <winkeys>Home</winkeys>
    </activation-key>
    <loop>False</loop>
  </macro>
</AutoFire>